@using Microsoft.AspNetCore.Identity
@using NTU_FYP_PEAR_CORE_20.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav">

        <li class="nav-item dropdown">
            <a href="#" class="text-dark" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                <i class="py-3 fa fa-bell-o fa-2x notification-bell" aria-hidden="true"></i>
                <span class="btn__badge pulse-button ">4</span>
            </a>
            <ul class="dropdown__noti dropdown-menu">
                <li>
                    <span class="dropdown-item disabled">Notifications</span>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <a href="#">
                        <div class="dropdown-item notification-text">Notification 1<span>19/3/21</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="dropdown-item notification-text">Notification 2<span>20/3/21</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="dropdown-item notification-text">Notification 3<span>22/3/21</span></div>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
}
