@{
    ViewData["Title"] = "Administrator Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Admin Dashboard</h1>

    <ul class="navbar-nav">
        Table for all employees
    </ul>
</div>
