@{
    ViewData["Title"] = "Patient Management";
}

<div id="app" class="scheduleBox">
    <h2 class="scheduleTitle">Export Schedule </h2>
    <br />
    <br />
    <br />
    <b>Schedule Date:</b>
    <br />
    <b>Show Activity and Routine ID:</b>
    <br />
    <b>Show Prescription:</b>
    <br />
    <div style="
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;">
        <a style="        color: white;
        background-color: #C4C4C4;
        border-color: #C4C4C4; margin-right:10px;" class="buttonGen">Cancel</a>
        <a style="color:white;" class="buttonGen">Export</a>
    </div>
</div>

@section scripts{
    <script>
    </script>
}
