@{
    ViewData["Title"] = "Patient Management";
}

<div id="app" class="scheduleBox">
    <h2 class="scheduleTitle"> Generate Weekly Schedule </h2>
    <div class="buttonGroup2">
        <button id="weeklyButton" class="buttonSelector">Weekly Schedule</button>
        <button id="dailyButton" class="buttonSelector">Daily Schedule</button>
    </div>
    <br />
    <br />
    <br />
    <b>Status:</b>
    <br />
    <b>Progress Bar:</b>
    <br />
    <div style="
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;">
        <a style="color:white;" class="buttonGen">Generate</a>
    </div>
</div>

@section scripts{
    <script>
    </script>
}
