@{
    ViewData["Title"] = "Patient's Daily Highlight";
}

<div class="card mb-3">
    <div class="card-header">
        Patient's Daily Highlight
    </div>
    <div id="app" class="card-body">
        <table class="table table-striped table-bordered table-hover dt-responsive " id="sample_3" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th class="min-tablet">Patient Name</th>
                    <th class="desktop4">Abnormal Vital</th>
                    <th class="desktop4">Problems</th>
                    <th class="desktop4">New Allergy</th>
                    <th class="desktop4">New Prescription</th>
                    <th class="desktop4">New Activity Exclusion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
    </script>
}
