@{
    ViewData["Title"] = "Patient Management";
}

<div id="app">
    <div class="card mb-3">
        <div class="card-header">
            Manage Attendance
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    @if (TempData["success"] != null)
                    {
                        <div class="alert alert-success text-center" role="alert">@TempData["success"]</div>
                    }

                    @if (TempData["error"] != null)
                    {
                        <div class="alert alert-danger  text-center" role="alert">@Html.Raw(TempData["error"])</div>
                    }

                    <div class="form-group col-md-3 " id="week-picker-wrapper">
                        <label for="week" class="control-label">Filter by Week</label>
                        <div class="input-group">
                            <input type="text" class="form-control week-picker" placeholder="Select a Week" name="">

                            <span class="input-group-btn">
                                <button type="submit" class="btn">Go</button>
                            </span>
                        </div>
                    </div>
                    <br /><br />

                    <table class="table table-striped table-bordered table-hover dt-responsive compact" id="sample_3" cellspacing="0">

                        <thead>
                            <tr>
                                <th class="min-tablet " rowspan="2">Name</th>

                                <th class="desktop4" colspan="3">Day</th>
                            </tr>
                            <tr>
                                <th class="desktop4" width="10%">Arrive</th>
                                <th class="desktop4" width="10%">Depart</th>
                                <th class="desktop4" width="10%"></th>
                            </tr>

                        </thead>

                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
       
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    patients: []
                }
            },
            mounted() {
                this.getPatients('&isActive=1');
                $('.activeButton').addClass('active');
            },
            methods: {
                getPatients: function (msg) {
                    var vm = this;
                    this.patients.splice(0);

                    $.ajax({ url: "/api/patient?token=123&masked=0" + msg, method: "GET" })
                        .done(function (response) {
                            vm.patients = response.data;
                        });
                }
            }
        });
    </script>
}
